In [1]:
#Import libraries
from pycaret import*
import pandas as pd
import numpy as np

In [2]:
data = pd.read_stata('Dataset(March2024).dta')

In [3]:
data.head()

,patid,cd4takeoff1,viralload1,heightst1,weightst1,childartk1,childworst1,sexualever1,childstay1,sex1,...,Group_study,telomere_length,chronic2,intdisfin,livewith3,pc,stin2vntr_,httlpr1,HTTLPRrs35531_1,SLC
0,CHAKA/02/01/0034,364,,167.2,43.0,Yes,Stage 4,No,Kampala city,Male,...,controls,NaN,2.0,0.0,Father alone,0.0,1.0,1.0,1.0,1.0
1,CHAKA/01/03/0311,839,00,132.0,36.0,Yes,Stage 3,NaN,NaN,Female,...,cases,0.585147,2.0,1.0,Mother alone,0.0,1.0,1.0,1.0,1.0
2,CHAKA/05/07/1160,984,<20,116.0,16.0,Yes,Stage 2,NaN,Outside Masaka municipality,Female,...,cases,0.604134,1.0,0.0,Father remarried,1.0,1.0,1.0,1.0,1.0
3,CHAKA/01/02/0179,855,0,132.1,28.0,Yes,Stage 2,NaN,Kampala city,Female,...,controls,0.808661,2.0,0.0,Mother alone,0.0,1.0,1.0,1.0,1.0
4,CHAKA/02/01/0089,1231,9593,127.3,21.0,No,Stage 2,NaN,Kampala city,Female,...,controls,0.800830,2.0,0.0,Both Parents,0.0,1.0,1.0,2.0,1.0

In [9]:
data.describe()

,heightst1,weightst1,orphanhood,carededuc1,ext_dis,age,telomere_length,chronic2,intdisfin,pc,stin2vntr_,httlpr1,HTTLPRrs35531_1,SLC
count,733.000000,736.000000,718.000000,721.000000,736.000000,696.000000,552.000000,736.000000,457.000000,736.000000,658.000000,698.000000,685.000000,739.000000
mean,131.050887,29.878111,0.267409,0.625867,0.119565,10.574136,0.904827,1.841033,0.275711,0.275815,2.474164,1.399714,2.483212,0.944520
std,22.690718,11.915348,0.328042,0.226354,0.324673,3.141758,0.307347,0.730670,0.447362,0.447228,0.643503,0.583710,1.764272,0.229071
min,12.500000,10.000000,0.000000,0.000000,0.000000,4.525667,0.191179,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,119.000000,21.000000,0.000000,0.500000,0.000000,7.874743,0.716800,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000
50%,130.600000,27.000000,0.000000,0.750000,0.000000,10.368241,0.849872,2.000000,0.000000,0.000000,3.000000,1.000000,2.000000,1.000000
75%,144.000000,36.000000,0.500000,0.750000,0.000000,13.000000,1.023283,2.000000,1.000000,1.000000,3.000000,2.000000,3.000000,1.000000
max,427.200000,153.000000,1.000000,1.000000,1.000000,17.114305,2.189877,3.000000,1.000000,1.000000,3.000000,3.000000,7.000000,1.000000

In [7]:
from pycaret.regression import*

In [5]:
data2 = data.dropna(subset=['pc'])

In [6]:
countDV = data2['pc']
print(countDV)

0      0.0
1      0.0
2      1.0
3      0.0
4      0.0
      ...
734    0.0
735    0.0
736    0.0
737    0.0
738    0.0
Name: pc, Length: 736, dtype: float32

In [8]:
s = setup(data2, target='pc', session_id=123)

In [11]:
#Model training
best = s.compare_models()

In [10]:
s.evaluate_model(best)

NameError: name 'best' is not defined

In [26]:
#predict
predict_holdout =s.predict_model(best)

In [29]:
new_data=data2.copy().drop('pc', axis =1)
predictions = s.predict_model(best, new_data)

In [35]:
predictions.head()

,patid,cd4takeoff1,viralload1,heightst1,weightst1,childartk1,childworst1,sexualever1,childstay1,sex1,...,Group_study,telomere_length,chronic2,intdisfin,livewith3,stin2vntr_,httlpr1,HTTLPRrs35531_1,SLC,prediction_label
0,CHAKA/02/01/0034,364,,167.199997,43.0,Yes,Stage 4,No,Kampala city,Male,...,controls,NaN,2.0,0.0,Father alone,1.0,1.0,1.0,1.0,0.120350
1,CHAKA/01/03/0311,839,00,132.000000,36.0,Yes,Stage 3,NaN,NaN,Female,...,cases,0.585147,2.0,1.0,Mother alone,1.0,1.0,1.0,1.0,0.102471
2,CHAKA/05/07/1160,984,<20,116.000000,16.0,Yes,Stage 2,NaN,Outside Masaka municipality,Female,...,cases,0.604134,1.0,0.0,Father remarried,1.0,1.0,1.0,1.0,0.826191
3,CHAKA/01/02/0179,855,0,132.100006,28.0,Yes,Stage 2,NaN,Kampala city,Female,...,controls,0.808661,2.0,0.0,Mother alone,1.0,1.0,1.0,1.0,0.141905
4,CHAKA/02/01/0089,1231,9593,127.300003,21.0,No,Stage 2,NaN,Kampala city,Female,...,controls,0.800830,2.0,0.0,Both Parents,1.0,1.0,2.0,1.0,0.233634